body{
  background-color: rgb(232, 229, 229);
}

.images{
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.image{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.bookmark-icon{
  width: 20px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1{
  margin-left: 300px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  padding: 10px;
  width: 258px;
  border-radius: 15px;
}

h2{
  border: 1px solid black;
  width: 128px;
  background-color: grey;
}

.bookmark-image{
  width: 100px;
  height: 50px;
  object-fit: cover;
}